* {
	margin: 0px;
	padding: 0px;
}

#content {
	width: 700px;
	margin: 10px;
	padding: 10px;
}

#table1{
	width: 550px;
	margin: 10px;
	display: inline-block;
	border: 2px solid black;
}

h1 {
	margin: 10px;
	text-decoration: underline;

}

#form {
	margin: 20px;
	padding: 20px;
	display: block;
	width: 300px;
}

#form h2 {
	font-size: 16px;
	margin-right: 10px;
	display: inline-block;
}

#form input {
	width: 150px;
	height: 25px;
	margin: 10px 0px 0px 10px;
	font-size: 14px;

}

#btn {
	margin: 20px;
	padding: 10px;
	display: block;
	
}